<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% block body_block %}

<div class="jumbotron">
  <h1>Index Page.</h1>
</div>

<h1>QR読み取りテスト</h1>
  <video id="camera_preview" ></video>

  <script type="text/javascript">
    let scanner = new Instascan.Scanner({ video: document.getElementById('camera_preview') });
    scanner.addListener('scan', function (content) {
      console.log(content);
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[-1]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  </script>

{% endblock %}
