<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% block body_block %}

<div class="jumbotron">
  <h1>Index Page.</h1>
</div>

<h1>QR読み取りテスト</h1>
  <video id="preview" ></video>

  <script>
  document.addEventListener("DOMContentLoaded", event => {
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    Instascan.Camera.getCameras().then(cameras => {
      scanner.camera = cameras[cameras.length - 1];
      scanner.start();
    }).catch(e => console.error(e));

    scanner.addListener('scan', content => {
      console.log(content);
    });

  });

  </script>

  <!-- <script type="text/javascript">
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
      console.log(content);
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[cameras.length - 1]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  </script> -->

{% endblock %}
